spring:
  application:
    name: InkFlow
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/inkflow}
    username: ${SPRING_DATASOURCE_USERNAME:inkflow}
    password: ${SPRING_DATASOURCE_PASSWORD:inkflow_pw}
  flyway:
    enabled: true
    locations: classpath:db/migration
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}

inkflow:
  upload:
    session:
      redis:
        key-prefix: ${INKFLOW_UPLOAD_SESSION_KEY_PREFIX:upload:session:}
